.dates {
	.container {
		max-width: 960px;
		margin: 0 auto;
		padding: 0 15px;
	}

	h1 {
		font-size: 3rem;
		font-weight: bold;
		text-transform: uppercase;
		color: #333;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
		margin-bottom: 3rem;
	}

	.table-responsive {
		overflow-x: auto;
	}

	.table {
		width: 100%;
		max-width: 100%;
		margin-bottom: 1rem;
		background-color: #fff;
		color: #333;
		border-collapse: collapse;

		th,
		td {
			padding: 1rem;
			vertical-align: middle;
			text-align: center;
		}

		thead {
			th {
				background-color: #f5f5f5;
				border-bottom: 2px solid #ddd;
			}
		}

		tbody {
			tr:nth-child(even) {
				background-color: #f9f9f9;
			}
		}

		&.table-bordered {
			th,
			td {
				border: 1px solid #ddd;
			}
		}
	}

	.text-center {
		text-align: center;
	}

	.mt-5 {
		margin-top: 3rem;
	}
}

#documentos {
	background-color: #f7f7f7;
	padding: 50px 0;

	h1 {
		font-size: 36px;
		font-weight: bold;
		margin-bottom: 40px;
	}

	.card-header {
		background-color: #007bff;
		border: none;

		h2 {
			margin-bottom: 0;
		}

		button {
			color: #fff;
			font-weight: bold;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.card-body {
		display: flex;
		justify-content: space-between;

		flex-wrap: wrap;
		padding: 0;

		.list-group-item {
			border: none;

			&:nth-of-type(even) {
				background-color: #f0f0f0;
			}

			.badge {
				background-color: #007bff;
				margin-right: 10px;
				font-size: 16px;
			}

			button {
				margin-top: -4px;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					padding: 5px 0;
					margin-bottom: 5px;

					a {
						color: #007bff;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	@media (max-width: 767px) {
		.card-header {
			h2 {
				font-size: 24px;
			}
		}

		.badge {
			font-size: 14px;
		}
	}
}
