section {
  background-color: #f7f7f7;
  padding: 50px 10px;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    text-align: center;
  }

  .container {
    max-width: 960px;
    margin: auto;
    padding: 30px;

    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .col-md-2 {
        img {
          display: block;
          max-width: 100%;
          height: auto;
          max-height: 700px; /* Define uma altura máxima para a imagem */
          object-fit: cover; /* Ajusta a imagem ao tamanho do container */
        }
      }

      .col-md-9 {
        display: flex;
        flex-direction: column;

        .d-flex {
          align-items: center;
          margin-bottom: 10px;

          .fas {
            font-size: 20px;
            color: #6c757d;
          }

          p {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
            color: #343a40;
          }
        }

        .badge {
          font-size: 18px;
          padding: 6px 12px;
          border-radius: 20px;
          text-decoration: none;
          transition: all 0.2s ease-in-out;

          &:hover {
            transform: translateY(-2px);
          }

          &.text-white {
            color: #fff;
          }

          i {
            font-size: 20px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
