section {
  background-color: #f7f7f7;
  padding: 50px 10px;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    text-align: center;

    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 4px;
      background-color: #007bff;
      margin: 10px auto 0;
      border-radius: 2px;
    }
  }

  .container {
    max-width: 960px;
    margin: auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      .col-md-2 {
        flex: 0 0 30%; // Ajusta o tamanho para ocupar até 30% da linha
        text-align: center;

        img {
          display: block;
          width: 100%;
          max-width: 150px;
          height: auto;
          border-radius: 10px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .col-md-9 {
        flex: 0 0 65%; // Ajusta o tamanho para ocupar até 65% da linha
        padding-left: 20px;

        .d-flex {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .fas {
            font-size: 20px;
            color: #6c757d;
            margin-right: 10px;
          }

          p {
            margin: 0;
            font-size: 1rem;
            font-weight: bold;
            color: #343a40;
          }
        }

        .badge {
          font-size: 0.9rem;
          padding: 8px 12px;
          border-radius: 20px;
          background-color: #007bff;
          color: #fff;
          text-decoration: none;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: #0056b3;
            transform: translateY(-2px);
          }

          i {
            font-size: 16px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      padding: 20px;

      .row {
        flex-direction: column;

        .col-md-2 {
          flex: 0 0 100%;
          text-align: center;
          margin-bottom: 10px;
        }

        .col-md-9 {
          flex: 0 0 100%;
          margin-bottom: 10px;
        }
      }
    }

    h1 {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 576px) {
    .container {
      .row {
        gap: 15px;

        .col-md-2 img {
          max-width: 100px;
        }
      }

      h1 {
        font-size: 1.8rem;
      }
    }
  }
}
